@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  box-sizing: border-box;
  height: 100dvh;
  margin: 0;
  padding: 0;
  @apply overflow-y-scroll scrollbar-hide;
}

@font-face {
  font-family: 'E1234';
  src: url('/fonts/E1234/E1234.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'E1234';
  src: url('/fonts/E1234/E1234-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

